{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load project_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('Task List') }}</a>
{% endblock %}

{% block bodyid %}project_landing{% endblock %}

{% block body %}

{% sidebar %}

<div id="main">

  <div id="task_header">
  <h2><span>{{ _('Tasks') }}</span></h2>

  {% if content_pages %}
  <form action="{% block page_form_url %}{% endblock %}" method="post">
  <ul id="task_list">
    {% for page in content_pages %}
    <li id="item-{{ page.index }}" class="ui-state-default {% cycle 'odd' 'even' %}">
        <span class="taskNumber">{{forloop.counter}}</span> <a class="taskLink" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        <span class="action-buttons"><a href="{{ page.get_absolute_url }}">{{ _('View') }}</a></span>
    </li>
        {% endfor %}
      </ul>

  <input type="submit" value="Save"/>
  </form>
  {% else %}
   {{ _('No tasks have been added.') }}
    
  {% endif %}

  </div>
{% if can_add_task %}
    <br>
    <a class="button" href="{% locale_url page_create slug=project.slug %}">{{ _('New Task') }}</a>
  {% endif %}
</div> <!-- /#main -->

  {% block js %}
    <script type="text/javascript">
    $(document).ready(function(){
        $( "ul#task_list" ).sortable({
            /* TODO: make update actually do something */
            update: function() {
              var order = $('#task_list').sortable('serialize');
              alert(order);
              $.post('TODOajaxhandler', {
                  'order': order
              });
            }
        });
    });
    </script>
  {% endblock %}

{% endblock %}

